@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body{
   background-color: #f1f6fc31;
}
section,
footer {
    padding: 54px 0;
}
.logo {
    width: 130px;
}
h1{
    font-size: 80px;
}
p {
    color: #2020209c;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
.btn {
    background-color: #714ff9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}
.btn:hover{
    animation-name: animate-outline;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-color: #714ff9;
    border-radius: 10px;
    padding: 15px 20px;
    transition: 1.0s;
}
.btn.animate-btn{
    animation: animate-outline 1s ease-in-out infinite;
}
.btn:hover {
    background-color: #714ff9;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@keyframes animate-outline {
    from{
        outline: 0px solid #5d4ba5;
    }
    to{
        outline: 20px solid hsla(270, 41%, 41%, 0.175);
    }
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 15px;
    display: block;
}

.btn {
    background-color: rgb(37, 10, 96);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

.btn:hover{
    background-color: #714ff9;
    border-radius: 10px;
    padding: 15px 20px;
}

nav ul a:not(.btn):after{
    content: "";
    background-color: rgb(107, 136, 225);
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.5s;
}
nav ul a:hover::after{
    width: 100%;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 100px;
    color: white;
    overflow: hidden;
}
.banner .banner-text p{
    font-size: 20px;
    color: #ffffff9c;
    margin: 18px 0;
}

/* FACA MAIS */
.book {
    width: 600px;
}
.faca-mais .container{
    display: flex;
    align-items: center;
}
.faca-mais .faca-mais-text {
    width: 50%;
    padding: 0 40px;
}
.faca-mais .faca-mais-text p{
    margin: 10px 0 40px 0;
    font-size: 20px;
}
.faca-mais .faca-mais-text h3{
    font-size: 56px;
}
.faca-mais .faca-mais-img{
    width: 50%;
}
.faca-mais .faca-mais-text img{
    width: 100%;
}
.faca-mais .faca-mais-text span{
    color: #714ff9;
}